<li class='w-100 d-flex flex-column flex-sm-row rounded mt-1 justify-content-start align-items-center p-3 mt-3 notif' id="">
    <div class="col-sm-8">
        <div class="d-flex align-items-center">
            <img src='./assets/img_avatar.png' class='rounded-circle avatar' alt='avatar'>
            <h4 class='ms-3 mb-0 text-white text-center '></h4>
        </div>
    </div>
    <div class="col-sm-4 mt-2 mt-sm-0">
        <div class="d-flex justify-content-center">
            <div class="col me-2 me-sm-0">
                <button type="button" class="rounded acceptInvit"><i class="bi bi-check-lg h4"></i></button>
            </div>
            <div class="col ms-2 ms-sm-0">
                <button type="button" class="rounded refuseInvit"><i class='bi bi-x h4'></i></button>
            </div>
        </div>
    </div>
</li>