<div id="myModal" class="modal d-none">
    <div id="modal-notifications">
        <div class="d-flex justify-content-end mb-2">
            <span id="btnCloseModal"><i class="bi bi-x-lg"></i></span>
        </div>
        <div class="m-2 m-md-4" id="divSign">
            <h1 class="h3 text-center mb-4">Invitations reçues</h1>
            <p class="h5 text-center mt-5" id="msgEmptyNotif">Pas d'invitations reçues</p>
            <ul class="p-0 w-100" id="list-notif">
            </ul>
          </div>
    </div>
</div>