<li class="list-group-item d-flex mx-2 row card-friend rounded-pill mt-1 w-100 justify-content-between" id="">
    <div class="col-3 d-flex align-self-center">
        <div class="d-flex align-items-center">
            <img src="./assets/img_avatar.png" class="rounded-circle avatar" alt="avatar ami">
        </div>
        <div class="mx-4">
            <h4 class="mt-2 mb-1 text-white usernameFriend"></h4>
            <h5 class="small status text-nowrap"></h5>
        </div>
    </div>
    <div class="col d-flex align-self-center">
        <div class="d-none d-lg-block">
            <img src="./assets/keyboard.png" class="logo mt-2 mx-1" width="40px" alt="clavier">
        </div>
        <div class="text-center d-none d-lg-block">
            <h5 class="text-nowrap">Parties jouées</h5>
            <h5 class="gamesPlayed"></h5>
        </div>
    </div>
    <div class="col d-flex align-self-center ">
        <div class="d-none d-md-block">
            <img src="./assets/trophy.png" class="logo mt-2 mx-1" width="40px" alt="logo gagnant">
        </div>
        <div class="text-center d-none d-md-block">
            <h5 class="text-nowrap">Parties gagnées</h5>
            <h5 class="gamesWon"></h5>
        </div>
    </div>
    <div class="col d-flex align-self-center ">
        <div class="d-none d-lg-block">
            <img src="./assets/win.png" class="logo mt-2 mx-1" width="40px" alt="logo gagnant">
        </div>
        <div class="text-center d-none d-lg-block">
            <h5 class="text-nowrap">Meilleure série</h5>
            <h5 class="winStreak"></h5>
        </div>
        <div class="col d-flex align-self-center">
            <button class="d-flex ms-4 rounded-circle btnDeleteFriend"><i class="bi bi-heartbreak-fill"></i></button>
        </div>
    </div>
</li>