<nav class="navbar navbar-dark navbar-expand-md m-3 mx-5 rounded bg-nav">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="/#/dashboard" id="navPong">Pong Game</a>
        <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-white"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarNav">
            <ul class="navbar-nav text-center">
                <li class="nav-item">
                    <a class="nav-link" href="/#/dashboard" id="navMenu">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#/friends" id="navFriends">Amis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#/stats" id="navStats">Stats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#/history" id="navHistory">Historique</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link " id="navNotification"><i class="bi bi-bell h4 position-relative"><span class="position-absolute p-2 rounded-circle d-none">
                    </span></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#/parameters" id="navParameters"><i class="bi bi-gear h4"></i></a>
                </li>
                <li class="nav-item d-flex align-items-center justify-content-center mx-2">
                    <i class="bi bi-power h3" id="disconnection"></i>
                </li>
            </ul>
        </div>
    </div>
</nav>