<li class="list-group-item d-flex mx-1 row gx-md-5 px-0 mode-tournament">
    <div class="col-sm-4 col-6 d-flex justify-content-start mb-2 mb-sm-0">
        <div class="history-stats">
            <h4 class="mb-3">Tournoi</h4>
            <h6 class="mb-0 nbrPlayers"></h6>
            <h6 class="mb-1">local</h6>
            <h6 class="date"></h6>
        </div>
    </div>
    <div class="col-sm-4 col-6 align-self-center d-flex justify-content-end justify-content-sm-center mb-1">
        <div>
            <h3 class="text-center result"></h4>
            <h6 class="text-center text-nowrap score">2ème</h6>
            <div class="d-flex justify-content-center">
                <button class="btn btn-down" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="btnDown"><i class="bi bi-chevron-down"></i></button>
            </div>
        </div>
    </div>
    <div class="col-sm-4 align-self-center d-flex justify-content-center px-0">
        <div class="w-100">
            <div class="text-center">
                <div>
                    <img src="./assets/img_avatar.png" class="rounded-circle col avatar mb-2 avatarFirst" alt="avatar ami">
                </div>
            </div>
            <div class="text-center px-1 d-flex justify-content-center align-items-center">
                <img src="./assets/first.png" width="30px" class="" alt="">
                <h6 class="score mb-0 text-center usernameFirst"></h6>
            </div>
        </div>
    </div>
    <!-- Tournoi dropdown -->
    <div class="d-flex justify-content-center w-100 px-0">
        <div class="collapse w-100" id="collapseExample">
            <ul class="col-12 list-group flex-row flex-wrap align-self-center d-flex justify-self-center justify-content-center card-opponent">
                <!-- CardTournamentOpponent.html -->
            </ul>
        </div>
    </div>
</li>