<li class="list-group-item d-flex mx-1 row gx-md-5 px-0 mode-pong">
    <div class="col-sm-4 col-6 d-flex justify-content-start mb-2 mb-sm-0">
        <div class="history-stats">
            <h4 class="mb-3 ">Pong</h4>
            <h6 class="mb-0">1 vs 1</h6>
            <h6 class="mb-1 matchType"></h6>
            <h6 class="date"></h6>
        </div>
    </div>
    <div class="col-sm-4 col-6 align-self-center d-flex justify-content-end justify-content-sm-center mb-1 mb-sm-0">
        <div>
            <h3 class="text-center result"></h4>
            <h6 class="text-center text-nowrap score"></h6>
        </div>
    </div>
    <div class="col-sm-4 align-self-center d-flex justify-content-center px-0">
        <div class="w-100">
            <div class="text-center">
                <div>
                    <img src="./assets/img_avatar.png" class="rounded-circle col avatar mb-2 avatarOpponent" alt="avatar ami">
                </div>
            </div>
            <div class="text-center px-1 d-flex justify-content-center align-items-center">
                <h6 class="score mb-0 text-center usernameOpponent"></h6>
            </div>
        </div>
    </div>
</li>