<li class="d-flex justify-content-center align-items-center w-100">
    <h1 class="col me-2 me-md-4 mb-0 rank">1.</h1>
    <div class="col-1 list-group-item d-flex  card-friend rounded-pill mt-1 w-100 justify-content-between" id="">
        <div class="col d-flex align-self-center px-0">
            <div class="d-flex align-items-center">
                <img src="./assets/img_avatar.png" class="rounded-circle avatar" alt="avatar ami">
            </div>
            <div class="col-8 col-md-6 mx-2 d-flex justify-content-start align-items-center">
                <h3 class="mb-0 username"></h3>
            </div>
        </div>
        <div class="col-4 col-md-3 d-flex align-self-center justify-content-center align-items-center px-0">
            <div class="text-center">
                <h3 class="mb-0 victoryTournament"></h3>
            </div>
        </div>
        <div class="col-md-3 d-flex align-self-center justify-content-center align-items-center px-0 d-none d-md-block">
            <div class="text-center">
                <h3 class="mb-0 defeatTournament"></h3>
            </div>
        </div>
    </div>
</li>