<div id="pongLocal">
    <div class="position-relative d-flex justify-content-center">
        <canvas id="canvas" class="start-50"></canvas>
        <button class="btn rounded-pill position-absolute top-50 start-50 translate-middle d-none" id="continue">Continue</button>
        <button class="btn rounded-pill position-absolute top-50 start-50 translate-middle d-none" id="end">END</button>
        <button class="btn rounded-pill position-absolute top-50 start-50 translate-middle d-none" id="next">Next</button>
    </div>
</div>